.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    margin-right: 80px;
    font-size: 40px;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav li {
    padding-top: 15px;
    padding-left: 15px;

}

.nav li a {
    text-decoration: none;
    color: blueviolet;

}

.nav .navsearch {
    margin-top: 5px;
    flex: 1px;
    display: flex;
    margin-top: 5px;
    margin-right: 5px;



}

.nav .navsearch input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
}

.nav .navsearch button {

    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-left: 0px;
}