<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let item of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="product-header-image" src="{{item.image}}" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>


</ngb-carousel>
<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3">
			<div class="product-item">
				<img
					src="https://assets.ajio.com/medias/sys_master/root/20211224/1tuJ/61c4c229aeb26901101a2a6a/-473Wx593H-469034008-black-MODEL.jpg">
				<div class="product-details">
					<h6 class="name-head">New branded Shoes</h6>
					<div class="product-price">
						<h6>Price: 80000</h6>
					</div>
					<div class="product-color">
						<h6>color: black</h6>
					</div>
				</div>
			
			</div>
			


			<div class="product-footer">
			<a href="">View Details</a>
			<a href="">Add to Cart</a>
		</div>
		</div>
		<div class="col-sm-3">
			<div class="product-item">
				<img
					src="https://assets.ajio.com/medias/sys_master/root/20211224/1tuJ/61c4c229aeb26901101a2a6a/-473Wx593H-469034008-black-MODEL.jpg">
				<div class="product-details">
					<h6 class="name-head">New branded Shoes</h6>
					<div class="product-price">
						<h6>Price: 80000</h6>
					</div>
					<div class="product-color">
						<h6>color: black</h6>
					</div>
				</div>
			
			</div>
			


			<div class="product-footer">
			<a href="">View Details</a>
			<a href="">Add to Cart</a>
		</div>
		</div>
		<div class="col-sm-3">
			<div class="product-item">
				<img
					src="https://assets.ajio.com/medias/sys_master/root/20211224/1tuJ/61c4c229aeb26901101a2a6a/-473Wx593H-469034008-black-MODEL.jpg">
				<div class="product-details">
					<h6 class="name-head">New branded Shoes</h6>
					<div class="product-price">
						<h6>Price: 80000</h6>
					</div>
					<div class="product-color">
						<h6>color: black</h6>
					</div>
				</div>
			
			</div>
			


			<div class="product-footer">
			<a href="">View Details</a>
			<a href="">Add to Cart</a>
		</div>
		</div>
		<div class="col-sm-3">
			<div class="product-item">
				<img
					src="https://assets.ajio.com/medias/sys_master/root/20211224/1tuJ/61c4c229aeb26901101a2a6a/-473Wx593H-469034008-black-MODEL.jpg">
				<div class="product-details">
					<h6 class="name-head">New branded Shoes</h6>
					<div class="product-price">
						<h6>Price: 80000</h6>
					</div>
					<div class="product-color">
						<h6>color: black</h6>
					</div>
				</div>
			
			</div>
			


			<div class="product-footer">
			<a href="">View Details</a>
			<a href="">Add to Cart</a>
		</div>
		</div>
			
	</div>

</div>
